<h3>Дата записи</h3>
<input placeholder="дд.мм.гггг" [value]="selectedDate | date: 'dd.MM.yyyy'" readonly="true" />
<button [disabled]="isDisabled" (click)="isOpen = !isOpen" class="selector">
	<img src="assets/calendar.png" alt=""/>
</button>

<div class="calendar" *ngIf="isOpen">
	<section class="title">
		<button (click)="prevMonth()"><</button>
		<button>{{ currentMonth.format('MMMM') }}</button>
		<button (click)="nextMonth()">></button>
	</section>
	<section>
		<strong>пн</strong>
		<strong>вт</strong>
		<strong>ср</strong>
		<strong>чт</strong>
		<strong>пт</strong>
		<strong>сб</strong>
		<strong>вс</strong>

		<span *ngFor="let day of monthDates"
			  [class.today]="isToday(day)"
			  [class.disabled]="isInactive(day)"
			  (click)="onSelectDate(day)">
			{{ day | date: 'd' }}
		</span>
	</section>
</div>
