@import "../../../styles/variables";

:host {
	position: relative;
}

.selector {
	&:disabled { background: $disabled-color; }
}

.calendar {
	position: absolute;
	//margin-top: $grid * 4;
	width: 100%;
	background: #f9f9f9;
	padding: $grid / 2;
	border: 1px solid dimgrey;
	z-index: 10;

	section {

		display: grid;
		margin: 0 auto;
		grid-template-columns: 14% 14% 14% 14% 14% 15% 15%;
		text-align: center;

		strong {
			border-bottom: 1px solid #000;
			font-weight: 600;
		}
		span {
			padding: $grid / 4;
			margin: 1px;
			border: 1px solid dimgrey;

			&:hover {
				border: 1px solid dodgerblue;
				background: dodgerblue;
				border-radius: 2px;
			}
			&.today {
				border: 1px solid dodgerblue;
				border-radius: 50%;
			}
			&.disabled {
				background: lightgrey;
				border: 1px solid lightgrey;
			}
		}

		&.title {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			button {
				border: 0;
			}
		}

		&.footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}
