@import "../../../styles/variables";

:host {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	input { flex-grow: 1; }

	&.header {
		position: relative;

		button {
			background: $button-menu-color;
			&:disabled { background: $disabled-color; }
			&.close { position: absolute; right: 0; background: $button-bg-color; }
		}
	}

	&.info {
		display: flex;
		flex-direction: column;
		color: darkblue;
		align-items: flex-start;
		line-height: 1.1em;
	}
}

.results {
	z-index: 10;
	position: absolute;
	background: $button-bg-color;
	width: calc(25% - #{$grid * 3});
	padding: $grid;

	span {
		//border-bottom: 1px solid grey;
	}
}

