<div>
	<section class="header">
		<h2>Пациент</h2>
		<div>
			<button [disabled]="!patient" (click)="isMenuOpen = !isMenuOpen">
				<img src="assets/user.png" alt=""  />
			</button>
			<button *ngIf="isMenuOpen" class="close" (click)="onClosePatient()">завершить работу с пациентом</button>
		</div>
	</section>
	<section *ngIf="patient" class="info">
		<span>{{ patient.name }}</span>
		<span>{{ patient.birthdate }}г.р.</span>
		<span>Полис ОМС: {{ patient.polis }}</span>
	</section>
	<section *ngIf="!patient">
		<input placeholder="Введите текст для поиска" (keyup)="onKeyUpSearch($event.target.value)" />
		<img src="assets/search.png" alt="" />
	</section>
	<div class="results" *ngIf="isNotFound || searchResult.length">
		<span *ngFor="let p of searchResult" (click)="onSelectPatient(p)">{{ p.name }}<br />{{p.polis}}</span>
		<span *ngIf="isNotFound">Совпадений не найдено</span>
	</div>
</div>
