@import "../../../styles/variables";

:host {
	position: fixed;
	padding: $grid * 2;
	background: #f9f9f9;
	z-index: 10;
}

.group {
	border-bottom: 1px solid $inactive-color;
	display: flex;
	flex-direction: row;

	&:last-of-type { border: 0; }

	button {
		border: 0;
		background: none;
		flex-grow: 1;
		text-align: center;

		&.view { color: black; }
		&.edit { color: dodgerblue; }
		&.cancel { color: red; }

		&:disabled { color: grey; }
	}
}
