<div>
	<div class="group" *ngIf="!patient">
		<span>Выбран интервал времени</span>
		<span>{{ slot.start.format('HH:mm') }} - {{ slot.end.format('HH:mm') }}</span>
	</div>
	<div class="group" *ngIf="patient">
		<img src="assets/user.png" alt="" />
		<span>{{ patient.name }}</span>
	</div>
	<div class="group">
		<img src="assets/card.png" alt="" />
		<button class="view"
				[disabled]="!patient"
				(click)="onViewRecord()">
			Просмотреть запись
		</button>
	</div>
	<div class="group">
		<img src="assets/edit.png" alt="" />
		<button class="edit"
				[disabled]="patient"
				(click)="onEditRecord()">
			Создать запись
		</button>
	</div>
	<div class="group">
		<img src="assets/remove.png" alt="" />
		<button class="cancel"
				[disabled]="!patient"
				(click)="onCancelRecord()">
			Отменить запись
		</button>
	</div>
</div>

