@import "../../../styles/variables";

:host {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-gap: $grid / 2;
}

.direction {
	flex-shrink: 0;

	label {
		color: #fff;
		padding: $grid;
		background: green;

		&:first-of-type { border-radius: $grid 0 0 $grid; }
		&:last-of-type { border-radius: 0 $grid $grid 0; }

		&.active { background: darkgreen; }
	}
	input {	display: none; }
}

.schedule-column {
	display: flex;
	flex-direction: column;

	section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&.grid {
			flex-grow: 1;
			background: #d6c6c6;
			height: calc(100vh - #{$grid * 20});
			overflow: auto;

			.schedule {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: stretch;
				align-self: flex-start;
			}
		}

		&.error {
			justify-content: center;
			padding: $grid * 2;
			font-size: $font-size * 1.5;
			color: #fff;
		}
	}
}

