<div>
	<patient-info (select)="onSelectPatient($event)"></patient-info>
	<date-picker [is-disabled]="isDisabledCalendar()"
				 (on-select)="onSelectDate($event)">
	</date-picker>
	<doctor-list [doctors]="resources"
				 (select)="onSelectDoctor($event)">
	</doctor-list>
</div>
<div class="schedule-column">
	<section>
		<h1>Рассписание специалистов</h1>
		<div class="direction">
			<label for="rPeriod1" [class.active]="rPeriodType1.checked">1 день</label>
			<input type="radio" name="tPeriod" id="rPeriod1" #rPeriodType1 [checked]="selectPeriod === 1" (change)="selectPeriod = 1" />
			<label for="rPeriod2" [class.active]="rPeriodType2.checked">2 дня</label>
			<input type="radio" name="tPeriod" id="rPeriod2" #rPeriodType2 [checked]="selectPeriod === 2" (change)="selectPeriod = 2" />
			<label for="rPeriod7" [class.active]="rPeriodType7.checked">Неделя</label>
			<input type="radio" name="tPeriod" id="rPeriod7" #rPeriodType7 [checked]="selectPeriod === 7" (change)="selectPeriod = 7" />
		</div>
	</section>
	<section class="grid" [class.error]="selectedDoctors.length == 0 || schedules.length == 0">
		<div *ngIf="schedules.length > 0" class="schedule">
			<day-slots *ngFor="let schedule of schedules | schedulePeriod:selectedDate:selectPeriod"
					   [resource]="schedule.resource"
					   [appointments]="getResourceRecordsDate(schedule.resourceId, schedule.date)"
					   [day]="schedule.date"
					   [work]="schedule.work"
					   [slots]="schedule.slots"
					   (slot-selected)="onSelectSlot($event)">
			</day-slots>
		</div>
		<div *ngIf="selectedDoctors.length == 0">
			Для просмотра расписания выберите хотя бы один Доступный ресурс.
		</div>
		<div *ngIf="schedules.length == 0 && selectedDoctors.length > 0">
			На выбранный период отсутствуют свободные временные интервалы для записи. Выберите другой период
		</div>

		<record-popup *ngIf="isViewRecord"
					  [slot]="selectedSlot.slot"
					  (cancel)="onCancelRecord()"
		              (edit)="onCreateRecord($event)"
					  [ngStyle]="positionPopup">
		</record-popup>
	</section>
</div>
