@import "../../../styles/variables";

:host {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	margin: $grid / 2;
	width: $grid * 20;
}

div {
	text-align: center;
	padding: $grid / 4 $grid / 2;
}

.header {
	background: #000000;
	color: #f9f9f9;
}
.doctor {
	background: #a09a9a;
	color: #f9f9f9;
}
.mi {
	background: dodgerblue;
}
.work {
	background: green;
}
