<div class="header">{{ day.format('dd. D MMM') }}</div>
<div class="doctor">{{ resource.name }}</div>
<div class="doctor">{{ resource.spec }}</div>
<div class="mi">{{ resource.mi }} (к.{{ resource.office }})</div>
<div class="work">
	{{ work.start }} - {{ work.end }}
</div>
<slot *ngFor="let slot of resultSlots" [slot]="slot" [resource]="resource" (select)="onSelectSlot($event)"></slot>
