@import "../../../styles/variables";

.slot {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;

	border: 1px dashed darkgrey;
	padding: 2px;
	height: 30px;
}

.appointment {
	background: greenyellow;
	&.record { background: orangered; }
}
.documents-work {
	height: 60px;
	background: $inactive-color;
}
.home-reception {
	height: 60px;
}
.not-work {
	height: 60px;
	background: $inactive-color;
}
.sick {
	height: 60px;
}
.trainin {
	height: 60px;
	background: $inactive-color;
}
.vacation {
	height: 60px;
}
