<div class="slot" [ngClass]="slot.type | rangeClass" [class.record]="slot.patient" (click)="onSelectSlot($event)">
	<span *ngIf="isShowTime">{{ slot.start | date: 'HH:mm' }}</span>
	<span *ngIf="slot.patient">{{ slot.patient.name }}</span>
	<span *ngIf="!isShowTime">{{ slot.type | rangeType }}</span>
</div>
