@import "../../../styles/variables";

.title {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: center;
	position: relative;

	button { background: $button-menu-color; }

	.menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		right: 0;
		top: $grid * 6;

		button {
			background: $button-bg-color;
			padding: $grid / 2 $grid;
			border: 0;
			text-align: left;
		}
	}
}

.group-selector {
	margin-top: $grid;
	display: flex;
	flex-direction: row;
    justify-content: space-between;

	label {
		color: black;
		padding: $grid / 2;
		font-size: 12px;
		border-style: outset;
		width: 100%;
		text-align: center;

		&:first-of-type { border-radius: $grid 0 0 $grid; }
		&:last-of-type { border-radius: 0 $grid $grid 0; }

		&.active {
			border-style: inset;
		}
	}
	input {	display: none; }
}

.doctor-list {
	margin-top: $grid;
	background: #fff;
	padding: $grid;
}
