<div class="title">
	<h3>Специалисты ({{_selected.length}}/{{doctors.length}})</h3>
	<button (click)="isFilterOpen = !isFilterOpen">
		<img src="assets/filter.png" alt="" />
	</button>
	<div *ngIf="isFilterOpen"class="menu">
		<button (click)="allSelected(true)">Выбрать все</button>
		<button (click)="allSelected(false)">Отменить все выбранное</button>
	</div>
</div>

<input placeholder="введите текст для поиска" />
<img src="assets/search.png" alt="" />

<div class="group-selector">
	<label for="rGroupSpec" [class.active]="rGroupTypeSpec.checked">По специальностям</label>
	<input type="radio" name="tGroup" id="rGroupSpec" #rGroupTypeSpec [checked]="groupType === 'S'" (change)="onChangeGroupType('S')" />
	<label for="rGroupLit" [class.active]="rGroupTypeLit.checked">По алфавиту</label>
	<input type="radio" name="tGroup" id="rGroupLit" #rGroupTypeLit [checked]="groupType === 'L'" (change)="onChangeGroupType('L')" />
</div>
<div class="doctor-list">
	<ul *ngFor="let key of groupedResource | key">
		<li>
			{{ key }}
			<ul *ngFor="let doctor of groupedResource[key]">
				<li>
					<input type="checkbox" [value]="doctor.id" [checked]="isSelected(doctor.id)" (change)="onSelectDoctor(doctor.id)" /> {{ doctor.name }}
				</li>
			</ul>
		</li>
	</ul>
</div>
