@import "styles/variables";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button, input,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-size: 100%;
	font: inherit;
	color: inherit;
	vertical-align: baseline;
	background: none;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
img {
	border: 0;
}
html {
	font-size: 1em;
}
body {
	background: lightgrey;
	color: black;
	font-size: $font-size;
	line-height: 1;
	font-weight: 300;
	user-select: none;
}

h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code {
	line-height: 1.2em;
	font-style: normal;
}
ul {
	padding-inline-start: 0;
}

input, button {
	border: 1px solid black;
	background: #f3f3f3;
	padding: $grid;
}
button {
	padding: $grid / 4 $grid;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@for $i from 0 through 5 {
	h#{$i+1} {
		font-size: #{40 - $i * $grid};
		font-weight: bold;
		margin: $grid * 2 0;
		text-align: center;
		width: 100%;
	}
}
